:1979 {
    reverse_proxy /* http://localhost:8080 {

    }
    
    handle /amis/* {
        file_server
    }
    
    handle /dashboard/_nuxt/base.c5245ced.css {
        file_server
    }
    handle /dashboard/_nuxt/entry.87277a5f.css {
        file_server
    }

}
